*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    transform-style: preserve-3d;
    will-change: transform;
    perspective: 3000px;
    overflow: hidden;

}
.box{
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    transform-style: preserve-3d;
    will-change: transform;
}


/* Za Waarudo: start */



.prakhar1{
    position: absolute;
    top: 10px;
    left: 30px;
    font-family: sans-serif;
    font-size: 3rem;
    z-index: 99999;
}
.prakhar2{
    position: absolute;
    top: 90px;
    left: 5px;
    font-family: sans-serif;
    font-size: 3rem;
    transform: rotate(90deg);
    z-index: 99999;
}
.gokul1{
    position: absolute;
    bottom: 90px;
    left: 5px;
    font-family: sans-serif;
    font-size: 3rem;
    transform: rotate(90deg);
    z-index: 99999;
}
.gokul2{
    position: absolute;
    bottom: 10px;
    left: 45px;
    font-family: sans-serif;
    font-size: 3rem;
    z-index: 99999;
    
}
.next{
    position: absolute;
    bottom: 10px;
    right: 40px;
    font-family: sans-serif;
    font-size: 3rem;
    z-index: 99999;
    
}
.prev{
    position: absolute;
    bottom: 90px;
    right: 5px;
    font-family: sans-serif;
    font-size: 3rem;
    transform: rotate(90deg);
    z-index: 99999;
}
/* Za waarudo: end */
.one{
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
    top: 50vh;
    left: 50vw;
    transform: translate3d(-50%,-50%,2500px);
    text-align: center;
}
.two{
    position: absolute;
    top: 50vh;
    left: 50vw;
    height: 40%;
    width: 30vw;
    transform: translate3d(-50%,-50%,1700px) rotateY(10deg) rotateX(40deg);


}

.egg{
    display: none;
    position: absolute;
    top: 50vh;
    left: 50vw;
    height: 10%;
    width: 5vw;
    transform: translate3d(-50%,-50%,1000px)rotateY(10deg) rotateX(30deg);
    will-change: transform;
    transform-style: preserve-3d;

    
}
.three{
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 4rem;
    top: 50vh;
    left: 50vw;
    transform: translate3d(-50%,-50%,1100px);
}
.space1{
    position: absolute;
    background: url('./img/Stars\ \(2\).png') no-repeat center center;
    background-size: cover;
    top: 50vh;
    left: 50vw;
    height: 100vh;
    width: 100vw;
    transform: translate3d(-50%,-50%,500px);
}
.four{
    position: absolute;
    top: 50vh;
    left: 50vw;
    height: 40%;
    width: 30vw;
    transform: translate3d(-50%,-50%,500px) rotateY(-20deg) rotateX(40deg);

}
.space2{
    position: absolute;
    background: url('./img/Stars\ \(2\).png') no-repeat center center;
    background-size: cover;
    top: 50vh;
    left: 50vw;
    height: 100vh;
    width: 100vw;
    transform: translate3d(-50%,-50%,2200px);
}
.background{
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* top: 50vh;
    left: 50vw; */
    background:black;
    transform: translate3d(0,0,0px);
}





.insert{
    position: absolute;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    top:50vh;
    left: 50vw; 
    width: 5vw;
    transform: translate(-50%,-50%);
    /* width: 10vw; */
    /* overflow: visible; */
    z-index: 99999;
    opacity: 1;
    display: none;
}